body{
    background-image: url("https://img.freepik.com/free-vector/casino-cards-background-with-sparkles-lights_1017-33695.jpg?w=1380&t=st=1680087298~exp=1680087898~hmac=1ec0c565f98bcc4f8107279aa5ce26da16b96fc393dd8b27ad703fd4da9c8e31"); 
    background-repeat: no-repeat;
    background-position: right top ;
    /* background-size:120%; */
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
p{
    word-break: break-all;
}
.container{
    max-width: 100%; /* width: 400px; */
    max-height: 100%; /* max-height: 100vh; */ 
    padding: 3% 5%; /* padding: 30px 50px; */
    font-size: 1rem;/* font-size: larger; */
    font-weight: bolder;
    color: whitesmoke;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    top: 10%;
    right: 10%;
    border-radius: 20px;
    border: 2px solid rgb(6, 173, 224);
    animation: mymove 5s infinite;
    position: fixed;
    overflow: hidden;
}
@keyframes mymove{
    50% {border-color: goldenrod;}
}
h1{
    color: goldenrod;
    text-align: center;
    margin-bottom: 15%;
    text-shadow: 1px 1px 50px rgb(221, 221, 221);
}
button{
    width:100%;
    padding: 12px;
    margin-top: 20px;
    background-color:transparent;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 2px solid #05a7fd;
    animation: mymove1 5s infinite;
    text-transform: uppercase;
}
@keyframes mymove1{
    50% {border-color:#fbfdac;}
}
#player-el,#coin{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 1px;
    animation: mymove2 5s infinite;
    
}
span{
    color: goldenrod;
}
@keyframes mymove2{
    50% {color:#016363;}
}